body {
    background: #7CAE7A;
    overflow-y: auto; /* Hide vertical scrollbar */;
    overflow-x: hidden; /* Hide horizontal scrollbar */;
    
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6EAB99;
    border-radius: 10px;
    
  }

  ::-webkit-scrollbar-thumb:active {
    opacity: 0.65
}

::-webkit-scrollbar-thumb:hover {
    background-color:#ffffff;
    color: rgb(17, 15, 15);
}
.Button1 {
    background-color: #2E3138;
    border-width: 1.025px;
    font: 1em sans-serif;
    border-radius: 15px;
    border-color: #2E3138;
    border-style: solid;
    height:37px;
    width: 107px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    color: #F9B5AC;
    transition: background-color 0.35s;
}

.Button1:active {
    opacity: 0.65   
}

.Button1:hover {
    background-color:#FFFD82;
    color: rgb(15, 14, 14);
}


.Button2 {
    background-color: #2E3138;
    border-width: 1.025px;
    font: 1em sans-serif;
    border-radius: 15px;
    border-color: #2E3138;
    border-style: solid;
    height:37px;
    width: 107px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    color: #F9B5AC;
    transition: background-color 0.35s;
}

.Button2:active {
    opacity: 0.65
}

.Button2:hover {
    background-color:#6EAB99;
    color: white;
}

.style {

    background-color: #6EAB99;
    width: 500px;
}

.Button3 {
    background-color: #2E3138;
    border-width: 1.025px;
    font: 1em sans-serif;
    border-radius: 15px;
    border-color: #2E3138;
    border-style: solid;
    height:37px;
    width: 107px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    color: #F9B5AC;
    transition: background-color 0.35s;
}

.Button3:active {
    opacity: 0.65
}

.Button3:hover {
    background-color:#ffffff;
    color: rgb(17, 15, 15);
}

.pagename {

    position:relative;
    left: 830px;
    top: -90px;
    font-size: 50px;

}

.hvvies {

    position:relative;
    left: 470px;

}

.hvvy1 {
    width:400.9px;
    font-size: larger;
    text-align: justify;
    position:relative;
    left: 470px;
}

.hvvy2 {
    width:400.9px;
    font-size: larger;
    text-align: justify;
    position:relative;
    left: 900px;
    top:-315px;
}

.guitar {
    width: 400.9px;
    height: 400.9px;
    border-radius: 10px;
    position:relative;
    left: 900px;
    top: -300px;
}

.family {
    position:relative;
    left: -10px;
}

.hvvy3 {

    width:400.9px;
    font-size: larger;
    text-align: justify;
    position:absolute;
    left: 905px;
    top:813px;

}

.oratorical {
    width: 400.9px;
    height: 600.9px;
    border-radius: 10px;
    position:absolute;
    left: 475px;
    top: 490px;
}

.familyblog {
    color: #000000;
    font-style:normal;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    

}

.finalimg {
    position: relative;
    left: -50px;
}
